In [ ]:
import pandas as pd
import os
import numpy as np

In [ ]:
from liquor_app.interface.main import preprocess

In [11]:
pd.set_option('display.max_columns', None) # or other number has no effect

In [ ]:
%load_ext autoreload
%autoreload 2

In [ ]:
query_data = '''
                select *
                from `bigquery-public-data.iowa_liquor_sales.sales`
                where date <= '2023-03-31' and date >= '2023-01-01'
            '''

In [ ]:
data_path = '../raw_data/data.csv'

In [ ]:
data = pd.read_csv(data_path)

In [ ]:
data.head(5)

In [ ]:
data.info()

In [ ]:
vendors = data.vendor_name.unique()

In [13]:
df.describe()

,store_number,zip_code,county_number,category,vendor_number,item_number,pack,bottle_volume_ml,state_bottle_cost,state_bottle_retail,bottles_sold,sale_dollars,volume_sold_liters,volume_sold_gallons
count,624100.000000,623386.000000,0.0,6.241000e+05,624100.000000,624100.000000,624100.000000,624100.000000,624100.000000,624100.000000,624100.000000,624100.000000,624100.000000,624100.000000
mean,4503.540002,51240.219517,NaN,1.049866e+06,311.381912,58999.760311,11.938656,791.831341,12.298621,18.449690,11.655445,161.938988,8.861181,2.335191
std,1731.901873,993.904698,NaN,8.213061e+04,155.787681,107250.193607,8.019505,526.110600,13.800399,20.700604,34.531405,555.208561,40.883519,10.800486
min,2106.000000,50002.000000,NaN,1.011100e+06,35.000000,258.000000,1.000000,20.000000,0.890000,1.340000,-294.000000,-3498.600000,-220.500000,-58.240000
25%,2661.000000,50314.000000,NaN,1.012100e+06,259.000000,27056.000000,6.000000,375.000000,6.000000,9.000000,3.000000,44.520000,1.500000,0.390000
50%,4428.000000,51035.000000,NaN,1.031100e+06,300.000000,40053.000000,12.000000,750.000000,9.240000,13.860000,6.000000,90.000000,4.500000,1.180000
75%,5575.000000,52302.000000,NaN,1.071000e+06,421.000000,68039.000000,12.000000,1000.000000,15.000000,22.500000,12.000000,166.500000,9.600000,2.530000
max,10183.000000,57222.000000,NaN,1.901000e+06,978.000000,999995.000000,60.000000,4500.000000,2298.840000,3448.260000,9900.000000,195624.000000,9900.000000,2615.300000

In [ ]:
df = preprocess()

In [12]:
df.head(5)

,invoice_and_item_number,date,store_number,store_name,address,city,zip_code,store_location,county_number,county,category,category_name,vendor_number,vendor_name,item_number,item_description,pack,bottle_volume_ml,state_bottle_cost,state_bottle_retail,bottles_sold,sale_dollars,volume_sold_liters,volume_sold_gallons
0,RINV-04561500022,2023-03-22,4171,"BROTHERS MARKET, INC. / CASCADE",105 SE NIXON ST,CASCADE,52033.0,POINT(-90.99372 42.30608),NaN,DUBUQUE,1011200.0,STRAIGHT BOURBON WHISKIES,259,HEAVEN HILL BRANDS,17958,EVAN WILLIAMS BLACK,6,1750,17.00,25.50,-6,-153.00,-10.50,-2.77
1,RINV-04547400030,2023-03-10,5146,FAREWAY STORES #153 / W DES MOINES,329 GRAND AVE,WEST DES MOINES,50265.0,POINT(-93.70708 41.58271),NaN,POLK,1071000.0,COCKTAILS/RTD,65,JIM BEAM BRANDS,63127,ON THE ROCKS COCKTAILS HORNITOS MARGARITA PET,24,200,3.73,5.60,-24,-134.40,-4.80,-1.26
2,RINV-04554400056,2023-03-16,2661,HY-VEE FOOD STORE / SHELDON,1989 PARK ST,SHELDON,51201.0,POINT(-95.83133 43.18603),NaN,O'BRIEN,1081400.0,AMERICAN SCHNAPPS,434,LUXCO INC,80571,ARROW PEPPERMINT SCHNAPPS MINI,12,50,4.70,7.05,-12,-84.60,-0.60,-0.15
3,INV-55166600009,2023-01-23,4371,KUM & GO #50 / WEST DES MOINES,745 S 51ST ST,WEST DES MOINES,50265.0,POINT(-93.77348 41.55849),NaN,POLK,1081600.0,WHISKEY LIQUEUR,421,SAZERAC COMPANY INC,101046,FIREBALL CINNAMON WHISKEY PARTY COOLER,6,50,8.60,12.90,1,12.90,0.05,0.01
4,INV-55837700035,2023-02-14,4185,FAREWAY STORES #737 / GRINNELL,727 WEST STREET,GRINNELL,50112.0,POINT(-92.72735 41.74124),NaN,POWESHIEK,1012100.0,CANADIAN WHISKIES,259,HEAVEN HILL BRANDS,11771,BLACK VELVET MINI,8,50,8.87,13.31,1,12.75,0.05,0.01